/* 
IDEA: Hacer que cada elemento de la info tenga una animacion sutilmente distinta, con coherencia.
*/
.info-container{
    display: none;
    transition: background-position .9s ease;
    padding-top: 100px;
    background: linear-gradient(to right, rgba(255,255,255, 0) 50%, rgba(0,0,0, .4) 50%) no-repeat left / 200%;
    box-shadow: 0 0 10px 10px  rgba(0,0,0, 0.2);
    color: white;
    font-weight: 500;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    
    .info{
        margin: 100px auto auto 60px;
        height: 100%;
        width: 100%;
        
        .title{
            font-size: 90px;
            // height: 130px;
            height: auto;
        }
        .description{
            font-size: 16px;
            margin: 20px auto auto 10px;
            height: auto;
            width: 50%;
        }

        .menu-container{
            background-color: whitesmoke;
            border-radius: 5px;
            margin-top: 50px;
            margin-left: 10px;
            padding: 5px;
            display: flex;
            height: 35px;
            width: 140px;
            color: black;
            cursor: pointer;

            .info-icon{
                margin: auto 12px;
                height: 20px;
                width: 20px;
            }

            .btn-info{
                color: black;
                font-weight: 600;
                text-align: center;
                margin-top: auto;
            }
        }
    
    }

   
}

@media (max-width: 800px){
    .info-container{
        padding-top: 50px;
    
    .info{
        margin: 0px auto auto 35px;
        height: 100%;
        width: 100%;
        // margin: 25px auto auto 40px;
        // height: 100%;
        // width: 80%;
        .title{
            height: 80px;
        }

        .description{
            height: 150px;
            width: 80%;
        }

        .menu-container{
            background-color: whitesmoke;
            border-radius: 5px;
            margin-top: 40px;
            padding: 5px;
            display: flex;
            height: 35px;
            width: 140px;
            color: black;
            cursor: pointer;

            .info-icon{
                margin: auto 12px;
                height: 20px;
                width: 20px;
            }

            .btn-info{
                color: black;
                font-weight: 600;
                text-align: center;
                margin-top: auto;
            }
        }
    }

 

}
}

/* a partir de aca, voy a tener que buscar otra estrategia 
para mostrar la info, ya no cabe en pantalla o mas bien, queda feo */

@media (max-width: 550px){
    .info-container{
    
    
        .info{
            margin: 20px auto auto 30px;
            height: 100%;
            width: 80%;

            .description{
                margin-bottom: 25px;
                height: 180px;
                width: 80%;
            }

            .btn-info{
                background-color: whitesmoke;
                border-radius: 3px;
                // margin-top: 20px;
                height: 35px;
                width: 100px;
                color: black;
                font-weight: 600;
                cursor: pointer;
            }
        }

       

        .title{
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 350px){
    .info-container{
    
    
        .info{
            margin: 10px auto auto 10px;
            height: 100%;
            width: 80%;

            .btn-info{
                background-color: whitesmoke;
                border-radius: 3px;
                // margin-top: 20px;
                margin-bottom: 0px;
                height: 35px;
                width: 100px;
                color: black;
                font-weight: 600;
                cursor: pointer;
            }
        }

        .description{
            width: 90%;
        }

        .title{
            margin-bottom: 10px;
        }
    }
}

