/* FORMS */
@use "./forms/formContainer.scss";
@use "./forms/form.scss";

/* NAVBAR */
@use "./Navbar";

/* FOOTER */    
@use "./footer";

/* MAINVIEW */
@use "./mainView";

/* SLIDER */
@use "./slider";

/* USER MENU */
@use "./userMenu";