.form-background{
    min-height: 100vh;
    background: url("../../../images/form_background.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
}

.form-container{
    margin: auto;
    padding: 0px 50px 50px 50px;
    grid-template-rows: auto auto;
    background-color: rgba(0, 0, 0, 0.850);
    border-radius: 3px;
    height: auto;
    display: flex;
    flex-direction: column;
    
    *{
        color: white;
    }
    header{
        margin: 10px auto auto 10px;
        
    }

    @media (max-width: 300px) {
        flex-basis: 100%;
        justify-content: center;
        align-items: center;
    }


}