.nav-menu{
    padding: 4px;
    flex-grow: 1;
    
    .burger-menu{
        display: none; 
    }

    .menu{ 
        margin-right: 1%;
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        ul.nav-list{
            font-weight: bold;
            letter-spacing: 2px;
        
            li.item{
                display: inline-block;
                margin-left: 50px;
            }
            
            
        }
    }
    .user-list{
        display: flex;
        align-items: flex-end;
        li{
            margin-left: 25px;
        }
        .icon-search{      
            margin-left: auto;
            margin-right: 10px;
            margin-top: 15px;
            height: 20px;
            width: 20px;
            
        }
        .icon-me{      
            margin-left: auto;
            margin-right: 10px;
            margin-top: 15px;
            height: 40px;
            width: 40px;
            
        }
    }
}

@media (max-width: 600px){
    .nav-menu{
        .burger-menu{
            margin: 15px 10px auto auto;
            padding: 2px;
            background-color:var(--color-primary);
            border-radius: 2px;
            height: 37px;
            width: 37px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            
            .line{
                background-color: black;
                height: 3.5px;
                width: 90%;
    
            }
        }

        .menu{
            display: none;
        }
    }
}