
.search{
    margin-right: 5px;
    outline: none;
    caret-color: whitesmoke;
    border: none;
    border-bottom: 2px solid var(--color-primary);
    background: black;
    color: white;
    font-size: 100%;
    
}


